<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
			internalLogLevel="Off" internalLogFile="../logs/nlog_internal.log">

  <targets>
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${date:format=yyyyMMdd}.log"
					archiveEvery="Day"
					archiveFileName="${basedir}/logs/{#}.log"
					archiveNumbering="Date"
					archiveDateFormat="yyyyMMdd"
					maxArchiveFiles="90">
      <layout xsi:type="CSVLayout" delimiter="Tab">
        <withHeader>false</withHeader>
        <!--ヘッダーなし-->
        <quoting>Nothing</quoting>
        <!--項目をクォートで囲まない-->
        <column layout="${longdate}"/>
        <column layout="${uppercase:${level}"/>
        <column layout="${message}"/>
      </layout>
    </target>/>
    <target xsi:type="Debugger" name="d"  layout="${longdate} [${level}] ${callsite}() ${message}"/>
    <target xsi:type="Console" name="c"  layout="${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="f,d,c" />
  </rules>
</nlog>