<div class="d-flex align-items-center justify-content-center mt-5" style="height:calc(100vh - 300px);min-height:300px;">
    <div class="text-center">
        <h1 class="mb-0" style="font-size:7rem;">@ViewData["Title"]</h1>
        <h6 class="mb-5 text-info">@ViewData["Description"]</h6>
    </div>
</div><!-- ht-100v -->